.titulo {
    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    box-shadow: inset;
    margin: 20px;
    padding: 7px;
    background-image: url("https://img.freepik.com/fotos-gratis/toalha-de-mesa-vermelha-na-mesa-de-madeira_23-2147908050.jpg?size=626&ext=jpg");
    background-position: bottom;
    color: black;
}

.container {
    background-color:#ecd157;
    background-repeat: no-repeat;
}

.bloco-foto {
    text-align: justify;
    border-radius: 200px;
}

.links {
    background-color: white;

}